.ui-tabs{
  zoom: 1;
  padding: 0;
}

.ui-tabs .ui-tabs-nav{
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  position: relative;
  overflow: hidden;
  top: 1px;
  z-index: 1000;
  margin: 0;
}

.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  border-bottom-width: 0 !important;
  margin: 0 2px -1px 0;
  background: #ccc;
  padding: 0 5px;
  line-height: 2.3em;
}

.ui-tabs .ui-tabs-nav li a{
  /*float: left; Uncomment to show tabs */
}

.ui-tabs .ui-tabs-nav{
  display:none;/* Comment to show tabs */
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
  padding-bottom: 1px;
  border-bottom-width: 0;
  background: white;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-navli.ui-state-processing a{ 
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a  {
  cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel{ 
  padding: 20px;
  display: block;
  border-width: 0;
  background: none;
 /* border: 1px solid #ccc;*/
  position: relative;
  min-height: 200px;
}

.ui-tabs .ui-tabs-hide{ 
  display: none !important;
}

.webform-ajax-page-nav{
  margin-top: 30px;
}

.webform-ajax-page-nav #edit-actions input{
  position:absolute;
  bottom: 6px;
  right: 12px;
  margin: 0;
  
}

.webform-ajax-page-nav #edit-actions #edit-draft{
  position:absolute;
  bottom: 6px;
  right: 125px;
  margin: 0;
}

a.mover{
  background: #ccc;
  padding: 6px 12px;
  margin-top: 20px;
  position: absolute;
  color: #0071B3;
  font-weight: bold;
  text-decoration: none;
}

.next-tab{
  bottom: 0;
  right: 0;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}

.prev-tab{
  bottom: 0;
  left: 0;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}