/**
 * CSS for the Webform Multiple module.
 */

/* Style the 'Add another item' button. */
.form-submit.wfm-add {
  margin-bottom: 1em;
  margin-top: 0.3em;
}

/* Allow the 'Remove' button to appear next to the element it applies to. */
.wfm-item > .form-item {
  display: inline-block;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
